.container {
  padding: 15vh 2rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  .mainImage {
    @media screen and (max-width: 639px) {
      display: none;
    }

    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .mainImageMobile {
    @media screen and (min-width: 640px) {
      display: none;
    }

    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .content {
    text-align: center;

    .heading {
      font-size: 2.25rem;
      font-weight: 600;

      @media screen and (min-width: 1024px) {
        font-size: 2.5rem;
      }
    }

    .text {
      display: flex;
      align-items: center;
      font-size: 15px;
      gap: 5px;
      font-weight: 500;
      margin-top: 0.2rem;

      @media screen and (min-width: 1024px) {
        font-size: 1rem;
        margin-top: 0.3rem;
      }
    }

    .link {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 768px) {
        max-width: 600px;
        flex-direction: row;
      }

      .darklink {
        width: 100%;
        text-align: center;
        padding: 0.8rem 1rem;
        background: rgba(23, 26, 32, 0.8);
        color: white;
        font-size: 0.8rem;
        border-radius: 1.5rem;
        font-weight: 500;
      }

      .link {
        width: 100%;
        text-align: center;
        padding: 0.8rem 1rem;
        background: white;
        color: rgba(23, 26, 32, 0.8);
        font-size: 0.8rem;
        border-radius: 1.5rem;
        font-weight: 500;
      }
    }

    .scrollIcon {
      @media screen and (max-height: 300px) {
        display: none;
      }

      animation: bounce 2s infinite;
    }
  }
}

@keyframes bounce {
  0%,
  50%,
  100%,
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}
