.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  background: white;
  z-index: 20;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: auto;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;

    .closeBtn {
      border: none;
      outline: none;
      background: none;
      font-size: 1.2rem;
      cursor: pointer;
      padding: 5px;
    }
  }
}

.navmenu {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 5px;

  .navLink {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      background: rgba(211, 211, 211, 0.3);
    }
  }
}
